
@{
    ViewData["Title"] = "ConfirmEmail";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for confirming your email. Now you can login into system.
    </p>
    <br />
    <a class="text-dark font-weight-bold" asp-area="" asp-controller="Account" asp-action="Login">Ok</a>
</div>

