
@{
    ViewData["Title"] = "NotAuthorized";
    Layout = null;
}

<script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
<body style="background-color: rgb(52, 58, 64); margin-top: 4%;">
    <center>
        <div style=" margin-top: 4%;"><h1 style="color:white"><b>Not Authorized</b></h1></div>
        
        <lord-icon src="https://cdn.lordicon.com/zpmqckup.json"
                   trigger="loop-on-hover"
                   colors="primary:#c71f16,secondary:#ffffff"
                   stroke="100"
                   style="width: auto; height: auto;">
        </lord-icon>
    </center>

</body>