@model IEnumerable<AutoRepair.Data.Entities.User>
@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<link rel="stylesheet" href="~/Home/css/normalize.css">
<link rel="stylesheet" href="~/Home/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Home/css/font-awesome/css/font-awesome.min.css" />

<link rel="stylesheet" href="~/Home/css/magnific-popup.css">
<link rel="stylesheet" href="~/Home/css/slider-pro.css">
<link rel="stylesheet" href="~/Home/css/owl.carousel.css">
<link rel="stylesheet" href="~/Home/css/owl.theme.css">
<link rel="stylesheet" href="~/Home/css/owl.transitions.css">
<link rel="stylesheet" href="~/Home/css/animate.css">
<link rel="stylesheet" href="~/Home/elegant_font/style.css">
<link rel="stylesheet" href="~/Home/css/style.css">

<script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>


<div class="preloader">
    <div class="status"></div>
</div>

<header>
    <nav class="navbar main-menu" style="background-color: #F8F8F8; height: 9%; ">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Img/Icon.png" width="50" /></a>

            </div>

            <div id="nav-menu" class="navbar-collapse collapse" role="navigation">
                <ul class="nav navbar-nav menu-wrapper display-flex-center">

                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown text-dark">
                            <a class="nav-link text-dark font-weight-bold" style=" font-size: 15pt; color:black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inspecions</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="nav-link text-dark font-weight-bold" style=" font-size: 15pt; color:black" asp-area="" asp-controller="Inspecion" asp-action="Creater">All Inspecions</a></li>
                                <li><a class="nav-link text-dark font-weight-bold" style=" font-size: 15pt; color:black" asp-area="" asp-controller="Inspecion" asp-action="Index">Inspecions History</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown text-dark">
                            <a class="nav-link text-dark font-weight-bold" style=" font-size: 15pt; color:black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Employee" asp-action="index">Employees</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="SendMail" asp-action="index">Send Email</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown text-dark">
                            <a class="nav-link text-dark font-weight-bold" style=" font-size: 15pt; color:black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Customer Management</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="Index">All Cars</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Service" asp-action="Index">All Services</a></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Models" asp-action="Index">All Models</a></li>
                            </ul>
                        </li>
                    }
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Employee"))
                    {
                        <li class="nav-item">

                            <a class="nav-link text-dark font-weight-bold" style=" font-size: 15pt; color:black" asp-area="" asp-controller="Inspecion" asp-action="Index">Marks</a>
                        </li>
                    }
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Customer"))
                    {

                        <li class="nav-item dropdown text-dark">
                            <a class="nav-link text-dark font-weight-bold" style=" font-size: 15pt; color:black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inspecions</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="nav-link text-dark font-weight-bold" style=" font-size: 15pt; color:black" asp-area="" asp-controller="Inspecion" asp-action="Creater">Your Inspecions</a></li>
                                <li><a class="nav-link text-dark font-weight-bold" style=" font-size: 15pt; color:black" asp-area="" asp-controller="Inspecion" asp-action="Index">Inspecions History</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark font-weight-bold" style=" font-size: 15pt; color:black" asp-area="" asp-controller="Cars" asp-action="Index">Your Cars</a>
                        </li>

                    }
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Mechanic"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark font-weight-bold" style=" font-size: 15pt; color:black" asp-area="" asp-controller="Inspecion" asp-action="Index">Schedule</a>
                        </li>
                    }
                    @if (this.User.Identity.IsAuthenticated)
                    {

                        <li class="nav-item dropdown text-dark" style=" margin-top: -4%;">
                            <a class="nav-link text-dark font-weight-bold" style=" font-size: 15pt; color:black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                @if (Model != null)
                                {
                                    @foreach (var item in Model)
                                    {

                                        @if (!string.IsNullOrEmpty(item.ImageFullPath))
                                        {
                                            <img src="@Url.Content(item.ImageFullPath)" alt="Image" style="width: 50px; height: 79px; max-width: 100%; border-radius: 50%; height: auto; " />

                                        }


                                    }
                                }
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @*<li>
                        <a class="nav-link">@this.User.Identity.Name</a>
                    </li>*@
                                <li><a class="nav-link" asp-area="" asp-controller="Account" asp-action="ChangeUser">Edit Profile</a></li>
                                <li><a class="nav-link" asp-area="" asp-controller="Account" asp-action="ChangePassword">Change Password</a></li>
                            </ul>
                        </li>

                        <li class="nav-item" style="margin-top: -4%; ">
                            <a class="nav-link text-dark font-weight-bold" style=" font-size: 15pt; color:black" asp-area="" asp-controller="Account" asp-action="Logout">
                                <lord-icon src="https://cdn.lordicon.com/lywgqtim.json"
                                           trigger="loop-on-hover"
                                           colors="primary:#000000,secondary:#000000"
                                           style="width:50px;height:50px">
                                </lord-icon>
                            </a>
                        </li>

                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark font-weight-bold" style=" font-size: 15pt; color:black" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark font-weight-bold" style=" font-size: 15pt; color: black" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                    }
                </ul>
            </div>

        </div>
    </nav>

</header>

<section class="slider-pro slider" id="slider">
    <div class="sp-slides" style="margin-top:4%">


        <div class="sp-slide main-slides">
            <div class="img-overlay"></div>

            <img class="sp-image" src="~/Home/images/slider/slider-img-1.jpg" alt="Slider 1" />

            <h1 class="sp-layer slider-text-big" style="margin-bottom:4%"
                data-position="center bottom" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <span class="highlight-texts">Fast Car Repair</span>
            </h1>

        </div>


        <div class="sp-slide main-slides">
            <div class="img-overlay"></div>
            <img class="sp-image" src="~/Home/images/slider/slider-img-2.jpg" alt="Slider 2" />

            <h1 class="sp-layer slider-text-big" style="margin-bottom:4%"
                data-position="center bottom" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <span class="highlight-texts">Best Car Service</span>
            </h1>

        </div>


        <div class="sp-slide main-slides">
            <div class="img-overlay"></div>

            <img class="sp-image" src="~/Home/images/slider/slider-img-3.jpg" alt="Slider 3" />

            <h1 class="sp-layer slider-text-big" style="margin-bottom:4%"
                data-position="center bottom" data-show-transition="left" data-hide-transition="right" data-show-delay="1500" data-hide-delay="200">
                <span class="highlight-texts">Lazer Car Paint</span>
            </h1>

        </div>


    </div>
</section>

<section class="text-center" style="margin-top:4%">

    <a asp-area="" asp-controller="Inspecion" asp-action="creater" class="btn btn-danger"><h1>Make your Inspecion now</h1></a>
</section>

<section id="services" style="background-color: #6C757D; margin-top: 4%" class="section-wrapper">
    <div class="container">
        <div class="row">


            <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                <h2><span class="highlight-text">Services</span></h2>

                <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                    AutoRepair covers all services, including: maintenance, oil changes, tires, braking, suspension, fault detection, among others, always respecting your car manufacturer's choices.
                </p>
            </div>


            <div class="our-services">


                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-delay=".2s">
                        <div class="service-box">
                            <div class="icon">
                                <i class="icon_cone"></i> <h3>REVISION</h3>
                            </div>
                            <p>Strict verification of essential points and replacement of wear parts according to the manufacturer's recommendations.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-delay=".2s">
                        <div class="service-box">
                            <div class="icon">
                                <i class="icon_mug"></i><h3>OIL CHANGE</h3>
                            </div>

                            <p>Oil is an essential element of your car's engine as it reduces friction and wear on moving parts and contributes to the sealing of the pistons in the cylinders.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-delay=".2s">
                        <div class="service-box">
                            <div class="icon">
                                <i class="icon_currency"></i><h3>PNEUS</h3>
                            </div>

                            <p>The tires ensure good roadholding on wet ground, in corners, effective braking, but also greater driving comfort. In other words, they guarantee comfort, efficiency and safety..</p>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-delay=".1s">
                        <div class="service-box">
                            <div class="icon">
                                <i class="icon_star-half_alt"></i><h3>BRAKING</h3>
                            </div>

                            <p>The good condition of the brake pads and discs, as well as the respective hydraulic circuit, are the guarantee of your safety regardless of weather conditions or the state of the road.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-delay=".1s">
                        <div class="service-box">
                            <div class="icon">
                                <i class="icon_cone_alt"></i><h3>PERIODIC INSPECTION</h3>
                            </div>

                            <p>Mandatory Periodic Inspection is a regular technical inspection of your vehicle!</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInDown" data-wow-delay=".1s">
                        <div class="service-box">
                            <div class="icon">
                                <i class="icon_cog"></i><h3>Car Sales</h3>
                            </div>

                            <p>Seeing well and being well regarded is one of the basic rules to be respected for safe driving.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<center>
    <section id="pricing" class="pricing-section">
        <div class="container">
            <div class="row">


                <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                    <h2><span class="highlight-text">Pricing</span></h2>

                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">
                        Packs with some of the services offered by AutoRepair. If you are undecided or do not know which one to choose, please do not hesitate to contact us.
                    </p>
                </div>


                <div class="pricing-wrapper">


                    <div class="col-md-4 col-sm-4 col-xs-12 pricing-plans wow bounceInLeft hoverer">
                        <div class="pricing-titles">
                            <h2>BASIC</h2>
                            <p><span>135€</span></p>
                        </div>
                        <div class="pricing-service-name">
                            <ul>
                                <li>Revision</li>
                                <li>Oil Change</li>
                                <li> </li>
                                <li> </li>
                                <li> </li>
                                <li> </li>
                            </ul>
                        </div>

                        <div class="bg-btn">
                            <a href="~/Inspecion/AddProduct/1" class="btn btn-warning">Get Now</a>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-4 col-xs-12 pricing-plans wow fadeInUp hoverer" data-wow-duration="1s">
                        <div class="pricing-titles">
                            <h2>PLUS</h2>
                            <p><span>217€</span></p>
                        </div>
                        <div class="pricing-service-name">
                            <ul>
                                <li>Revision</li>
                                <li>Oil Change</li>
                                <li>Battery Checkup</li>
                                <li>Braking</li>
                                <li>Visibility</li>
                                <li> </li>
                            </ul>
                        </div>

                        <div class="bg-btn">
                            <a href="~/Inspecion/AddProduct/2" class="btn btn-warning">Get Now</a>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-4 col-xs-12 pricing-plans wow bounceInRight hoverer">
                        <div class="pricing-titles">
                            <h2>PREMIUM</h2>
                            <p><span>342€</span></p>
                        </div>
                        <div class="pricing-service-name">
                            <ul>
                                <li>Revision</li>
                                <li>Oil Change</li>
                                <li>Battery Checkup</li>
                                <li>Braking</li>
                                <li>Air Conditioning</li>
                                <li>Suspension</li>
                            </ul>
                        </div>
                        <div class="bg-btn">
                            <a href="~/Inspecion/AddProduct/3" class="btn btn-warning">Get Now</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <section class="footer-container" style="background-color: #6C757D; font:white">
        <div class="container" style="color: white">
            <div class="row footer-containertent">
                <div class="col-md-4" style="color: white">

                    <img src="~/Img/Icon.png" width="50" alt="">
                    <br />
                    <br />
                    <p style="color: white">We are a new AutoRepair that with our products we always try to fund a solution to your problems every day.</p>

                    <hr />
                </div>

                <div class="col-md-4 contac-us" style="color: white">
                    <h3 style="color: white">Contact Us</h3>
                    <ul>
                        <li style="color: white"><i class="fa fa-phone"></i>001 123 12345 99</li>
                        <li style="color: white"><i class="fa fa-envelope-o"></i>repairnauto@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <footer style="background-color: #6C757D;color:white">

        <div class="container">
            <div class="row">
                <div class="footer-containertent">


                    <br /><br />
                    <p>Copyright © 2021      -      AutoRepair      -      Pedro Maio</p>
                </div>
            </div>
        </div>
    </footer>
</center>



<script src="~/Home/js/jquery-1.11.3.min.js"></script>
<script src="~/Home/js/bootstrap.min.js"></script>
<script src="~/Home/js/modernizr.min.js"></script>
<script src="~/Home/js/jquery.easing.1.3.js"></script>
<script src="~/Home/js/jquery.scrollUp.min.js"></script>
<script src="~/Home/js/jquery.easypiechart.js"></script>
<script src="~/Home/js/isotope.pkgd.min.js"></script>
<script src="~/Home/js/jquery.fitvids.js"></script>
<script src="~/Home/js/jquery.stellar.min.js"></script>
<script src="~/Home/js/jquery.waypoints.min.js"></script>
<script src="~/Home/js/wow.min.js"></script>
<script src="~/Home/js/jquery.nav.js"></script>
<script src="~/Home/js/imagesloaded.pkgd.min.js"></script>
<script src="~/Home/js/smooth-scroll.min.js"></script>
<script src="~/Home/js/jquery.magnific-popup.min.js"></script>
<script src="~/Home/js/jquery.sliderPro.min.js"></script>
<script src="~/Home/js/owl.carousel.min.js"></script>
<script src="~/Home/contact/jqBootstrapValidation.js"></script>
<script src="~/Home/contact/contact_me.js"></script>
<script src="http://maps.googleapis.com/maps/api/js">
</script>


<script src="~/Home/js/custom.js"></script>

<script>

    /*    <!-- GetButton.io widget -->*/
    (function () {
        var options = {
            email: "repairnauto@gmail.com", // Email
            call_to_action: "Envia-nos uma mensagem", // Call to action
            position: "right", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();

</script>